//
//  uitest.xcconfig
//  openAISwift
//
//  Created by vitalii on 05.03.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(APP_DOMAIN).$(APP_NAME)UITest
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
TEST_TARGET_NAME = $(APP_NAME)
SWIFT_EMIT_LOC_STRINGS = NO
