//
//  app.xcconfig
//  openAISwift
//
//  Created by vitalii on 05.03.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_ENTITLEMENTS = openAISwift/Resources/openAISwift.entitlements
ENABLE_HARDENED_RUNTIME = YES

CODE_SIGN_ENTITLEMENTS = openAISwift/Resources/openAISwift.entitlements
ENABLE_HARDENED_RUNTIME = YES

SWIFT_EMIT_LOC_STRINGS = YES

INFOPLIST_KEY_UIApplicationSceneManifest_Generation[sdk=iphonesimulator*] = YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation[sdk=iphoneos*] = YES
INFOPLIST_KEY_UILaunchScreen_Generation[sdk=iphonesimulator*] = YES
INFOPLIST_KEY_UILaunchScreen_Generation[sdk=iphoneos*] = YES
INFOPLIST_KEY_UIStatusBarStyle[sdk=iphonesimulator*] = UIStatusBarStyleDefault
INFOPLIST_KEY_UIStatusBarStyle[sdk=iphoneos*] = UIStatusBarStyleDefault
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents[sdk=iphonesimulator*] = YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents[sdk=iphoneos*] = YES
